h1 {
  text-align: center;
  font-size: 240%;
  color: #101010;
  letter-spacing: 0.17rem;
  font-family: 'Fjalla One', sans-serif;
}

header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  
}
nav {
  font-size: 135%; 
  padding-bottom: 3rem; 
  text-decoration: none;
}

.nav-link {
  color: #3B3D43;
  text-align: center;
  text-decoration: none;
  font-family: 'Muli', sans-serif;
  letter-spacing: 0.02rem;
}

.nav-link:hover {
  text-decoration: none;
}

.collaborate-paragraph {
  text-align: center;
}

.about-me-tag, .about-me {
  text-align: center;
}

h3, h5 {
  text-align: center;
}

.desk {
  padding-top: 3rem;
  width: 60%;
  margin: auto;
  display: block;
}

.ben {
  display: inline-block;
}

p {
  display: inline-block;
}