.container {
  position: relative;
  width: 100%;
}

h1 { /* For screen size smaller than 699px*/
  
  font-size: 250%;
  margin: auto;
  color: #101010;
  letter-spacing: 0.17rem;
  padding: 1rem;
  text-align: center;
}

@media screen and (min-width: 993px) {
  h1 {
  padding-top: 4rem;
  padding-bottom: 2rem;
  text-align: left;
  }
}

header {
  padding-top: 1rem;
  padding-bottom: 2rem;
  width: 100%; 
}
  
nav {
  width: 60%;
  font-size: 120%; 
  padding-bottom: 3rem; 
  float: right;
}

.nav-link {
  color: #3B3D43;
  text-decoration: none;
  font-family: 'Muli', sans-serif;
  letter-spacing: 0.02rem;
}

.nav-link:hover {
  text-decoration: none;
}

@media screen and (max-width: 1000px) and (min-width: 500px) {
  nav {
 
    width: 50%;
    display: inline; 
    padding: 1rem;
    white-space: nowrap;
    text-align: right;
  }
}

@media screen and (max-width: 499px) {
  nav {  
    text-align: center;
    margin: auto;
  }
}

  .desk {
    max-width: 60%;
    height: auto;
    margin: auto;
    padding-top: 1rem;
    display: block;
  }

@media screen and (max-width: 1400px) and (min-width: 800px) {
  .desk {
       max-width: 70%;
    padding-top: 5rem;
  }
}

.collaborate-paragraph {
  text-align: center;
}

.about-me-tag, .about-me {
  text-align: center;
}

h2 {
  font-size: 180%; 
  border-bottom: solid 0.3rem;
}

h4 {
  padding-bottom: 1rem;
  font-weight: 200;
}

ul {
  padding-bottom: 1.5rem;
}

.smaller {
  display: inline;
  font-weight: 300;
  font-size: 1.2rem;
  padding-left: 2rem;
}

.edu-space {
  padding-top: 0.8rem;
}
.ben {
  display: inline-block;
  padding-bottom: 1rem;
  width: 60%;
  height: auto;
}

p {
  display: inline-block;
}