.container {
  position: relative;
  width: 100%;
}

@media screen and (min-width: 1500px) {
  .container {
    width: 70%;
  }
}

h1 { /* For screen size smaller than 699px*/
  
  font-size: 250%;
  margin: auto;
  color: #101010;
  letter-spacing: 0.17rem;
  padding: 1rem;
  text-align: center;
}

@media screen and (min-width: 993px) {
  h1 {
  padding-top: 4rem;
  padding-bottom: 2rem;
  text-align: left;
  }
}

header {
  padding-top: 1rem;
  padding-bottom: 2rem;
  width: 100%; 
}

@media screen and (max-width: 1000px) {
  header {
    padding-bottom: 6rem;
    }
  }

nav {
  width: 60%;
  font-size: 120%; 
  padding-bottom: 1rem; 
  float: right;
}

.nav-link {
  color: #3B3D43;
  text-decoration: none;
  font-family: 'Muli', sans-serif;
  letter-spacing: 0.02rem;
}

.nav-link:hover {
  text-decoration: none;
  color: #16213B;
}

@media screen and (max-width: 1000px) and (min-width: 500px) {
  nav {
    width: 50%;
    display: inline; 
    padding: 1rem;
    white-space: nowrap;
    text-align: right;
  }
}

@media screen and (max-width: 499px) {
  nav {  
    text-align: center;
    margin: auto;
    width: 100%;
  }
}

body {
  width: 100%;
  min-height: 100%;
}

.travel {
  color: black;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

@media screen and (min-width: 801px) {
  .dropdown {
   visibility: hidden;
  }
}

/* Dropdown Button */
.dropbtn {
   
    cursor: pointer;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.body-blog {
  background: url("../images/ny.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
  display: block;
 position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity : 0.3;
}

.desk {
  max-width: 90%;
  height: auto;
  margin: auto;
  padding-top: 5rem;
  display: block;
}

@media screen and (max-width: 1400px) and (min-width: 800px) {
  .desk {
    max-width: 70%;
    padding-top: 5rem;
  }
}

@media screen and (max-width: 700px){
  .desk {
    max-width: 90%;
    padding-top: 4rem;
  }
}

.about-me-tag, .about-me {
  text-align: center;
}

h2 {
  font-size: 180%; 
  border-bottom: solid 0.3rem;
}

@media screen and (max-width: 800px) and (min-width: 500px) {
  h2 {
   padding-top: 7rem;
  }
}

@media screen and (max-width: 499px) {
  h2 {
   padding-top: 3rem;
  }
}

h4 {
  padding: 1rem 0;
  font-weight: 200;
  text-decoration-line: underline ;
}

ul {
  padding-bottom: 1.5rem;
}

.blog-container {
  color: black;
  text-align: justify;
  padding: 2rem;
}

@media screen and (max-width: 499px) {
  .blog-container {
    width: 100%;
    margin-top: -10rem;
    padding: 0.1rem;
  }
}

@media screen and (max-width: 800px) and (min-width: 500px) {
  .blog-container {
    width: 90%;
    margin: auto;
    margin-top: -8rem;
  }
}

@media screen and (min-width: 801px) and (max-width: 1399px) {
  .blog-container {
    width: 65%;
    padding: 1 3rem;
    margin-top: -5rem;
    
  }
}

@media screen and (min-width: 1400px) {
  .blog-container {
    padding: 1rem 3rem;
    width: 60%;
  }
}

.blog-date {
  color: black;
  padding: 1rem 3rem;
 text-align: right;

}


@media screen and (max-width: 800px) {
  .blog-date {
    display: none;
  }
}
  
  @media screen and (min-width: 601px) and (max-width: 1201px) {
  .blog-date {
    width: 20%;
    float: right;
  }
}

.smaller {
  display: inline;
  font-weight: 300;
  font-size: 1.2rem;
  padding-left: 2rem;
}

.edu-space {
  padding-top: 0.8rem;
}

.ben {
  display: inline;
  padding-bottom: 2rem;
  width: 90%;
  height: auto;
  margin: auto;
}

.fa {
  padding: 0 0.5rem 2rem;
  color: #16213B;
}

@media screen and (max-width: 990px) {
  .ben {
    width: 30%;
    display: inline;
    margin: auto;
  }
} 

@media screen and (max-width: 992px) {
  .ben {
    display: none;
  }
}

p {
  display: inline-block;
}

@media screen and (max-width: 1000px) {
.about-me-desc {
  width: 80%;
  margin: auto;
  }
}

.video-size {
  width: 50%;
  margin: auto;
  padding-bottom: 2rem;
}

/*footer {
   clear: both;
    position:relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    color: white;
  padding-top: 2rem;
}*/









